body {
  font-family: Arial, sans-serif;
  background-image: url('your-background-imag.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  position: relative; /* For positioning the logo and language button */
}
.logo {
  position: absolute;
  top: -40px; /* Adjust as per the size of your logo */
  left: 20px;
}
.logo img {
  height: 60px; /* Adjust as needed */
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input[type="text"] {
  width: calc(100% - 22px); /* Account for padding and borders */
  padding: 5px 10px; /* Decreased padding */
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px; /* Smaller font size */
}
.form-group input[type="submit"] {
  display: block;
  margin: 20px auto; /* Centers the button */
  background-color: #f0e68c;
  color: #333;
  padding: 8px 16px; /* Smaller than before */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: #ffd700;
}
.language-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
}
.language-switcher button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
